@import "variables";
@import "fonts";


@mixin title28 {
  font-family: Montserrat-SemiBold, sans-serif;
  font-size: 2.5vb;
  color: $light-color;
  margin-bottom: 50px;
}

@mixin title22 {
  font-family: Montserrat-Medium, sans-serif;
  font-size: 2vb;
  color: $extra-color;
}

