@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";


.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50px;
  width: 250px;
  height: 100%;
  background: $common-color;
  padding-top: 30px;
  z-index: 5;
  box-shadow: 0 0 11px 3px rgb(0 0 0 / 75%);

  .sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sidebar__image {
      position: relative;
      width: 70%;

      .sidebar__image_img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0 20px 1px rgb(255 255 255 / 25%);
      }
    }

    .slogan {
      position: relative;
      top: -30px;
      font-family: Montserrat-SemiBold, sans-serif;
      font-size: 16px;
      text-align: center;
      letter-spacing: 2px;
      color: $light-color;
      text-shadow: 0 0 20px #bbb7b7;
    }

    .nav {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 100px;

      .nav__items {
        padding-left: 15px;

        .nav__item {
          cursor: pointer;
          list-style: none;
          margin-bottom: 25px;
          display: flex;
          align-items: center;
          transition: all .3s ease-in-out;

          &:before {
            content: '';
            display: block;
            width: 5px;
            min-width: 5px;
            height: 5px;
            border-radius: 50%;
            background: transparent;
            vertical-align: middle;
            transition: all .3s ease-in-out;
          }

          .nav__item_link {
            color: $text-color;
            text-decoration: none;
            font-family: Montserrat-SemiBold, sans-serif;
            font-size: 16px;
            transition: all .3s ease-in-out;

            &:hover {
              color: $light-color;
            }
          }
          &:hover {
            margin-left: 0;
            &:before {
              margin-right: 10px;
              background: $light-color;
            }
            .nav__item_link {
              color: $light-color;
            }
          }

          &.active {
            margin-left: 0;

            &:before {
              background: $light-color;
              margin-right: 10px;
            }

            .nav__item_link {
              color: $light-color;
            }
          }
        }
      }
    }
  }

  .sidebar-down {
    margin-bottom: 7vb;
    display: flex;
    justify-content: center;

    .sidebar__contacts {
      width: 80%;

      .sidebar__contacts_title {
        text-align: center;
        font-family: Montserrat-SemiBold, sans-serif;
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 20px;
        color: $light-color;
      }

      .sidebar__contacts_items {
        display: flex;
        justify-content: center;
        align-items: center;

        .sidebar__contacts_item {
          width: 30px;
          height: 30px;

          &:nth-child(2) {
            margin: 0 40px;
          }

          .social-link {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none;

            svg {
              width: 100%;
              height: 100%;
            }
          }

          &:hover .social-link svg {
            transform: scale(1.1, 1.1);

            path {
              fill: $light-color;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px){
  .sidebar {
    top: 127px;
    left: 0;
    height: unset;
    background: $common-color;
    padding: 40px 0;
    z-index: -1;
    opacity: 0;
    transition: .2s;
    &.show {
      z-index: 5;
      opacity: 100;
    }
    .sidebar-top {
      display: flex;
      flex-direction: column;
      align-items: center;

      .sidebar__image {
        display: none;
      }

      .slogan {
        display: none;
      }

      .nav {
        width: 90%;
        margin-top: unset;
        margin-bottom: 30px;

        .nav__items {
          padding-left: 15px;
        }
      }

    }


    .sidebar-down {
      margin-bottom: unset;

      .sidebar__contacts {

        .sidebar__contacts_title {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 850px){
  .sidebar {
    top: 92px;
  }
}

@media screen and (max-width: 720px){
  .sidebar {
    top: 140px;
  }
}

@media screen and (max-width: 380px){
  .sidebar {
    top: 200px;
    width: 100%;
  }
}
