@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";

.footer {
  margin-bottom: 50px;
  padding: 30px 50px;
  text-align: right;
  font-family: Montserrat-SemiBold, sans-serif;
  font-size: 22px;
  position: relative;
  background-color: $common-color;
  box-shadow: 0 0 11px 3px rgb(255 255 255 / 75%);
  z-index: 1;

  span {
    letter-spacing: 10px;
    color: $text-color;
  }
}
