@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";


.projects {
  .title {
    @include title50;
    position: relative;
    text-align: center;
  }
  .projects__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;
    .project__item_wrap {
      .projects__item {
        display: grid;
        grid-template-columns: 1fr;
        transition: all .3s ease-out;
        border-radius: 10px;
        text-decoration: none;
        color: rgb(87, 60, 60);
        .projects__item_title {
          font-size: 20px;
          padding-left: 30px;
          margin-bottom: 20px;
          transition: all .3s ease-in-out;
        }
        &:hover .projects__item_title {
          color: rgb(240, 240, 240);
        }
        &:hover .projects__item_img{
          box-shadow: 0 0 12px 3px rgb(244 239 239);
          //transform: scale(1.02, 1.02);
        }
        .projects__item_image {
          width: 100%;
          margin-bottom: 50px;
          .projects__item_img {
            width: 100%;
            border-radius: 10px;
            transition: all .3s ease-in-out;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .projects {
    .projects__items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}
