@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.offer {
  .title {
    @include title50;
    margin-bottom: 100px;
    text-align: center;
  }

  .offer__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: auto;
    gap: 50px;
    margin-bottom: 50px;

    .offer__item {
      width: 100%;

      .offer__item_image {
        width: 5vb;
        height: 5vb;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        float: left;
        margin: 0 2vb 1vb 0;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .offer {
    .title {
      margin-bottom: 50px;
    }

    .offer__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 30px;

      .offer__item {
        .offer__item_image {
          width: 4vb;
          height: 4vb;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .offer {
    .title {
      margin-bottom: 30px;
      //font-size: ;
    }

    .offer__items {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .offer {
    .title {
     font-size: 1.6vb;
    }
    .offer__items {
      gap: 30px;
      margin-bottom: 20px;
      .offer__item {
        .offer__item_image {
          width: 3vb;
          height: 3vb;
        }
      }
    }
  }
}
