@import "variables";
@import "fonts";


@mixin title28 {
  font-family: Montserrat-SemiBold, sans-serif;
  font-size: 28px;
  color: $light-color;
  margin-bottom: 15px;
}

@mixin title22 {
  font-family: Montserrat-Medium, sans-serif;
  font-size: 22px;
  color: $extra-color;
}

